/* 
Desc: Sprint 1
Members: Michael Barney, Joey Thomas
Date: Feb 17 - 
*/

body {
  margin: 0;
  border: 0.1rem solid #ffc300;
}

/*Within Body*/
header img {
  width: 100%;
  opacity: 0;
}

.grid-header {
  background-image: url("../images/header-menu.jpg");
  width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-family: "Jacques Francois";
  margin-top: 4%;
  width: 100%;
}
.grid-navleft a:link,
a:visited {
  color: #c39500;
  background-color: black;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 0.2rem 3.3rem 0.2rem 3.3rem;
  margin: 1.5%;
  border-radius: 3px;
}
.grid-navright a:link,
a:visited {
  color: #c39500;
  background-color: black;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 0.2rem 2.1rem 0.2rem 2.1rem;
  margin: 1.5%;
  border-radius: 3px;
}

.grid-navleft a:hover,
.grid-navright a:hover {
  background-color: #c39500;
  color: black;
}
#mError {
  top: 5px;
  left: 50px;
  right: 50px;
  border: 1px solid black;
  border-radius: 8px;
  text-align: center;
}

.grid-breakfast {
  width: 100%;
  background-color: black;
  text-align: center;
  font-family: "Jacques Francois";
  color: #c39500;
}

.grid-item {
  background-color: #d9d9d9;
  border: 1px solid grey;
  border-radius: 10px;
  box-shadow: 6px 6px hsl(0, 5%, 40%);
  margin: auto;
  margin-top: 25px;
}
.grid-item p {
  font-size: smaller;
  background-color: #d9d9d9;
}

.grid-item button {
  background-color: black;
  color: #ffc300;
  padding: 7px;
  float: right;
  margin: -8px 20px 0px 0px;
  border-radius: 10px;
}

.grid-item h4 {
  font-family: "Jaldi";
  text-align: left;
  background-color: #d9d9d9;
  padding-left: 30px;
  padding-top: 10px;
}

.grid-item h5 {
  background-color: #d9d9d9;
  font-size: large;
}

.grid-item img {
  background-color: #d9d9d9;
  padding-top: 25px;
}

.grid-menu1 {
  text-align: center;
  justify-content: center;
  border-radius: 10px;
  width: 275px;
  height: 390px;
}

.grid-menu2 {
  text-align: center;
  justify-content: center;
  border-radius: 10px;
  width: 275px;
  height: 390px;
}

.grid-menu3 {
  text-align: center;
  justify-content: center;
  border-radius: 10px;
  width: 275px;
  height: 390px;
}

.grid-lunch {
  width: 100%;
  background-color: black;
  text-align: center;
  font-family: "Jacques Francois";
  color: #c39500;
}

.grid-menu4 {
  text-align: center;
  justify-content: center;
  border-radius: 10px;
  width: 275px;
  height: 390px;
}

.grid-menu5 {
  text-align: center;
  justify-content: center;
  border-radius: 10px;
  width: 275px;
  height: 390px;
}

.grid-menu6 {
  text-align: center;
  justify-content: center;
  border-radius: 10px;
  width: 275px;
  height: 390px;
}

.grid-bev {
  width: 100%;
  background-color: black;
  text-align: center;
  font-family: "Jacques Francois";
  color: #c39500;
}

.grid-menu7 {
  text-align: center;
  justify-content: center;
  border-radius: 10px;
  width: 275px;
  height: 390px;
}

.grid-menu8 {
  text-align: center;
  justify-content: center;
  border-radius: 10px;
  width: 275px;
  height: 390px;
}

.grid-menu9 {
  text-align: center;
  justify-content: center;
  border-radius: 10px;
  width: 275px;
  height: 390px;
}

footer {
  color: #ffc300;
  font-size: 1rem;
  padding: 2rem;
  margin-top: 2rem;
  text-align: center;
  background-color: black;
}

footer a:link,
footer a:visited,
footer a:hover {
  color: black;
  padding: 0.5rem;
}
