/* 
Desc: Sprint 1
Members: Michael Barney, Joey Thomas
Date: Feb 17 - 
*/

* {
  background-color: white;
  font-family: "Jacques Francois";
}

body {
  width: 1512;
}

.grid-container {
  display: grid;
  width: 1512px;
  margin: auto;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: minmax(40px, auto);
  border: 3px solid #ffc300;
}

header {
  display: grid;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

nav {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column: 1/6;
  grid-row: auto;
  margin-top: 15px;
}

.grid-navleft {
  display: grid;
  grid-column: 2/3;
  grid-row: 2/3;
  text-align: center;
  font-size: 1.6em;
  margin-top: 15px;
}

.grid-navright {
  display: grid;
  grid-column: 4/5;
  grid-row: 2/3;
  text-align: center;
  font-size: 1.6em;
  margin-top: 15px;
}

nav a:link,
nav a:visited {
  background-color: black;
  color: #ffc300;
  text-decoration: none;
  padding: 15px 60px 15px 60px;
  border: 1px solid black;
  border-radius: 10px;
}

nav a:hover {
  color: #ffc300;
  text-decoration: none;
  padding: 15px 60px 15px 60px;
  border: 1px solid black;
  border-radius: 10px;
}

main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column: 1/-1;
  grid-row: auto;
}

.grid-order {
  display: grid;
  grid-column: 3/4;
  grid-row: 1/2;
  justify-content: center;
  padding-top: 50px;
}

.grid-form {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column: 2/5;
  grid-row: 2/3;
  justify-items: center;
  font-size: large;
  padding-top: 20px;
  padding-bottom: 10px;
  border: 1px solid black;
  border-radius: 10px;
}

input {
  font-size: larger;
  margin-right: 20px;
  align-items: center;
  font-family: "Jaldi";
  border-radius: 6px;
}

#oError,
label,
button,
select,
option,
optgroup {
  font-size: larger;
  margin: 10px;
  font-family: "Jaldi";
  border-radius: 6px;
}
p,
li {
  font-family: "Jaldi";
  font-size: larger;
  padding-left: 20px;
}

footer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column: 1/-1;
  grid-row: auto;
  color: #ffc300;
  font-size: x-large;
  padding: 20px;
  margin-top: 30px;
  justify-content: center;
  background-color: black;
}

.footer-left {
  display: grid;
  grid-column: 1/3;
  text-align: left;
  background-color: black;
  padding-left: 20px;
}

.footer-right {
  grid-column: 4/6;
  grid-row: 1/2;
  background-color: black;
  text-align: right;
}

.footer-right a:link,
a:visited {
  background-color: black;
  padding: 10px;
  color: black;
}

.footer-right a:hover {
  background-color: black;
  color: black;
  padding: 10px;
}
